<!-- for admin -->
 <!-- try lang din muna -->
  {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
 </head>
 <body>
    <form class="admin-login" method="get">
        <div class="login-container"> 
            <h1>Shop Name Admin</h1>

            <label for="username">Username: </label>
            <input type="text" id="admin_username" name="name" autocomplete="name" placeholder="name" required title="Enter username">

            <label for="password">Password: </label>
            <input type="password" name="name" class="admin_pass" required title="Enter password">

            <div class="errorMessage"></div>

            <button class="login_button" type="submit">Login</button>
        </div>

    </form>
    <script>
        const admin_home = "{% url 'admin-homepage' %}";
    </script>
    <script src="{% static 'main/js/admin/admin-script.js' %}"></script>
 </html>