
  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div id="container">
        <button id="products" type="button">Products</button>
        <button id="user_acc" type="button">User Accounts</button>
    </div>

    <script>
        const products_page = "{% url 'admin-products' %}";
    </script>
    <script src="{% static 'main/js/admin/admin-script.js' %}"></script>
</body>
</html>